/* back to top
*******************************************************************/

#back-to-top {
  background-color: $app-color-1;
  box-shadow: none;
  z-index: 9;
  text-align: center;
  line-height: 23px;
  width: 30px;
  height: 30px;
  @include transition(background-color .25s ease);
  &:hover {
    background-color: $gray-600;
  }
  &::after {
    content: "\e907";
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: inline-block;
    vertical-align: middle;

    color: $white;
    font-size: 15px;
  }
}